*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
h2{
    text-align: center;
    font-family: Roboto Slab;
    font-size:34px;
    padding: 25px;

}

.background{
    background-color:rgb(3, 17, 3);
    }

/* ||************************************* style for all content************|| */    

.content-children{
    min-height:70vh;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
  
 
}
/* ||************************************* style for all content end ************|| */ 
/* ||************************************* nav bar style ************|| */    

.nav-bar{
    width:100%;
    padding:1rem;
    top:0;
    left:0;
    display: flex;
    justify-content: space-around;
    padding: 30px;
  
}
.nav-bar a{
    
    color:white;
    padding-left:20px;
    text-decoration: none;
    font-size:16px;
    font-family: Roboto Slab;
    text-align:center;


}
/* ||*************************************  end of nav style ************|| */    

/* ||************************************* home page************|| */    

.welcome a{
    padding:10px;

}
.welcome a:hover{
    padding:10px;
    color:rgb(2, 19, 2);

}
.route{

    display: flex;
    align-items: center;
    /* flex-direction: column; */
    justify-content: center;
    font-size: 20px;
   
}

/* ||************************************* end of home page************|| */    



/* ||************************************* create people page************|| */  

.create-person{
    height: 70vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    
  
}
/* ||************************************* create people page end************|| */  

.all-form{
    display:flex;
    flex-direction:column;
    align-items:center;
    width:500px;
    padding:20px;
    box-shadow: 5px 0px 10px 8px #8888;
}
.all-form input,textarea,select {
    width: 80%;
    padding: 12px;
    display: inline-block;
    margin: 8px 0;
    padding: 12px 20px;
    border: 1px solid #333;
    border-radius: 5px;
  }
  
  .all-form button{
      padding:15px;
      font-size: 16px;
      border-radius:5px;
      border:2px solid rgb(2, 19, 2);
      width: 150px;
  }
  .all-form button:hover{
   
    background-color:rgb(2, 19, 2);
    width: 150px;
    color:white;
}


.message-color{
    color:red
}
.action-delete{
    color:red;
    display: flex;
    flex-direction:column;
}

/* ||************************************* people list page************|| */
table,th,td{
    border:1px solid rgb(190, 178, 178);
    border-collapse: collapse;
    padding: 10px;
   
}
.action{
    display: flex;
    flex-direction: row;
}
.action-view{
    padding: 5px;
    color:blue;
    display: flex;
    flex-direction:column;
}
/* ||************************************* people list page end************|| */


/* ||************************************* all badges list page************|| */
.allbadge{
    /* background-color: rgb(255, 81, 0); */
    width:100%;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.badge-card{

    width:28%;
    margin:10px;
    padding: 20px;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    box-shadow: 5px 0px 10px 8px #8888;
    
}
/* ||************************************* all badges list page end ************|| */
/* ||************************************* all favorites list page end ************|| */
.all-favorites table{
    width: 100%;
}
/* ||************************************* all favorites list page end ************|| */



/* ||************************************* Dashboard  ************|| */
.dashboard{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    width:100%;
  

}
.dashboard-left{
    background-color: rgba(5, 1, 24, 0.993);
    width:20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    

}
.dashboard-left a{

    color:whitesmoke;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
}
.dashboard-right{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
  

    
}
.total{
    width:40%;
    box-shadow: 5px 0px 10px 8px #8888;
    display: flex;
    flex-direction:column;
    align-items: center;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    font-size:54px;
    margin:10px;
    height: 40vh;
    color:#333;


}
.total:hover{
    background-color: rgb(2, 19, 2);
    color:white;
}
.total p{
    font-size: 97px;
    font-weight: bold;
}
/* ||************************************* Dashboard  end ************|| */

/* footer style */
.footer{
    margin-top:50px;
    bottom:0;
    width:100%;
    color:white;
    padding:12px;
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    padding:2rem;

  

}


