h1{  
      
    color: #42b35a;  
     
}
.oft{  
    display: flex;
    align-items: center;
    height: 10vh;
   background-color: #472782;
    justify-content: space-between;
    width: 100%;
} 

.oft div {
    display: flex;
    width: 35%;
    color: #ffffff;
    justify-content: space-between;
}

    
   
    
    
      button[type=submit] {
        background-color: whitesmoke;
        color: rgb(21, 0, 78);
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        float: left;
        margin-bottom: 20px;
      }
      
        h2{ 
           
              
            color:aqua; 
             
        }
        .container{  
            width: 100%;
            height: 80vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
              
        }  

        .container form {
            box-shadow: 4px 4px 20px rgb(0, 0, 0, 0.25);
            width: 340px;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 10px;
            
        }

        .container form input {
            width: 75%;
            padding: 10px 20px;
            border-radius: 5px;
            border: 1px solid black;
        }
        .person{  
            width: 100%;
            height: 80vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
              
        }  

        .person form {
            box-shadow: 5px 5px 20px rgb(0, 0, 0, 0.25);
            width: 340px;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 10px;
            
        }

        .person form input {
            width: 75%;
            padding: 10px 20px;
            border-radius: 5px;
            border: 1px solid black;
        }
        .person form select {
            width: 85%;
            padding: 10px 20px;
            border-radius: 5px;
            border: 1px solid black;
            
        }
        
