@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .form_container {
      @apply w-full h-height flex items-center justify-center
    }

    .form_card {
        @apply flex flex-col items-center w-96 p-5 border rounded mt-7
    }

    .simple_button {
        @apply py-2 px-5 bg-primaryColor text-white rounded mt-3 mb-7
    }
  }

  @layer utilities {
    .shadow_card {
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    }
    .shodow_text {
        text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .transition_in_out {
        transition: 1s ease-in-out;
    }
  }

@layer base {
    input, select,textarea {
      @apply border border-inputColor px-2.5 rounded mb-5 outline-none
    }
    input {
        @apply w-full h-12;
    }
    select {
        @apply h-12 w-full
    }
    textarea {
        @apply h-20 w-full
    }
    span {
        @apply text-red-700
    }
}
    


/*



.people_grid_temp {
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
    width: 265px;
    padding: 20px;
    transition: 1s ease-in-out;
    margin: 20px;
    border-radius: 5px;
}

.people_grid_temp img {
    width: 50%;
}

.people_grid_temp:hover {
    transform: scale(1.1);
}

.people_grid_temp div{
    margin: 10px 0;
    display: flex;
    justify-content: center;
}

.people_grid_temp a {
    padding: 3px 10px;
    margin-right: 15px;
    background-color: var(--primary-color);
    text-decoration: none;
    color: #ffffff;
    border-radius: 3px;
}

.people_grid_temp button {
    padding: 7px 10px;
    margin-right: 15px;
    background-color: #5c1f1f;
    border: none;
    border-radius: 3px;
    color: #ffffff;
}


.one_people {
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
    padding: 20px;
    width: 300px;
    border-radius: 4px;
    margin: 20px auto;
}

.one_people div {
    border-top: 1px solid #d1d1d1;
    text-align: center;
    margin-top: 10px;
    padding: 10px;
}

.one_people_fav img {
    width: 50%;
} */
